
<div id="orgs">  

  <h3><%= link_to 'New Organization', new_org_path %></h3>
  
  <%= will_paginate %>

  <table id="org-summary" border="1px">
    <tr>
      <td><h3>Title</h3></td>
      <td><h3>Industry</h3></td>
      <td><h3>Description</h3></td>
      <td><h3>Followers</h3></td>


      <% if signed_in? && current_user.admin? %> 
        <td></td>
        <td></td>
      <% end %>
    </tr>
    <% @orgs.each do |org| %>
      <tr>
        <td><%= link_to org.title, org %></td>
        <td><%= org.industry %></td>
        <td><%= org.description %></td>
        <td><%= org.followers %></td>

        <% if signed_in? && current_user.admin? %> 
          <td><%= link_to 'Edit', edit_org_path(org) %></td>
          <td><%= link_to 'Destroy',
                           org,
                           confirm: 'Are you sure?',
                           method: :delete %>
          </td>

        <% end %>
      </tr>
    <% end %>
  </table>

  <%= will_paginate %>
  
  <br />
</div>
