
  <div id="org">
    
    <h2><%= @org.title %></h2>
      <p>Author:<%= @org.user.name %></p>
      
      <p>Tags:<%= join_tags(@org) %></p>
      
      <p>Content:<%= @org.content %></p>

      <br />
      <br />

    <h3>Comments</h3>
    <%= render "comments/comment" %>

    <h3>Leave a Comment:</h3>

  <% if signed_in? %>
    <%= render "comments/form" %>
  <% else %>
    <p>Please sign in to leave a comment!</p>
  <% end %>

    <br />

    <%= link_to 'Edit', edit_org_path(@org) %> |
    <%= link_to 'All Orgs', orgs_path %>
  
</div>
 

