<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if signed_in? %>
    <li>
    <%= link_to 'Profile', current_user %>
    </li>
    <li>
    <%= link_to('Logout', signout_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', signin_path)  %>
    </li>
    <li>
    <%= link_to('Sign up', signup_path)  %>
    </li>
  <% end %>

  <% if signed_in? && current_user.admin %>
      <li><%= link_to "Admin: list all Users", users_path %></li>
  <% end %>

</ul>

